/****************
*Header
****************/

	header
	{
		text-align: center;	
	}

	img.head /*Centrer les images du header*/
	{ 
	display: block; 
	margin: 0 auto; 
	/*height: XXXpx; /* spécifiez la hauteur de l'image, une bonne attitude à prendre */ 
	/*width: XXXpx; /* spécifiez la largeur de l'image, une bonne habitude à prendre */ 
	} 

	img.topic	
	{
		max-width: 700px;
		display: block; 
	}

	.header
	{
		display: inline-block;
		margin-left: 200px;
		margin-right: 160px;
	}

	.nidegoch
	{
		float: left;
		margin-right: 20px;
	}

	.nidedroate
	{
		float: right;
		margin-left: 20px;
	}

	.dessous
	{
		clear: both;
	}


/***************************
*Body
***************************/
	@font-face {
	    font-family: 'mygentium';
	    src: url('GentiumPlusCompact-R.ttf');
	}

	/* On travaille sur la balise body, donc sur TOUTE la page */
	body
	{
		background: #272C4D ; /*GRAND FOND
		/*background-image: url("images/fondfofo.jpg");*/
	    color: #83d7ff;/*#8aefff;*/ /* Le texte de la page sera bleu clair ;
	    					remarque : par héritage, toutes les balises dans le body 
	    					seront affectées de cette propriété, sauf celle auxquelle on spécifie une autre propriété.*/
	    font-size: 25px;
	    font-family: mygentium, serif;/*trebuchet MS ;*/
	}
	/*#65ff00 ==> pour le vert clair*/
	a
	{
		color: #4376AC;
		text-decoration: none;
	}
	a.ouvrir
	{
		color: #6FAFE9;
		text-decoration: none;
	}

	.politburo
	{
		color: #f42c04;
	}

/*******************************
*Barre de navigation
*******************************/

	nav
	{		
	    background-color: #6572C0; 
	    display: inline-block;
	    /*width: 1600px;*/
	    width: 100%;
	    text-align: center;
	    text-transform: uppercase ;/*permet de mettre le texte en majuscule*/
	}

	nav ul
	{   
	}

	nav li
	{
	    display: inline-block;
	    margin-right: 15px;
	}

	nav a
	{
	    font-size: 1.3em;
	    color: #161560;
	    /*padding-bottom: 3px;*/
	    text-decoration: none;
	}

	/*nav*/ 
	a:hover
	{
	    color: #cecef1;/*violet très clair*/
	    /*border-bottom: 3px solid #cecef1;*//*violet très clair*/
	}

	.topleft
	{
		text-align: left;
	}

	.topright
	{
		text-align: right;
	}

	article
	{
		/*border: 3px groove;*/
		/*border-color: #ff0000; */
		
		/*float: left;*/
		margin-top: 3%;/*20px;*/
		margin-bottom: 3%;/*20px;*/
		/*margin-left: 3%;*//*20px;*/
	  	/*margin-right: auto;*/
	  	/*position: relative;*/
	  	width:70%;/*800px;*/
	}

	article.suppr
	{
		border: 3px groove;
		border-color: #ff0000; /*#65ff00 vert clair*/
	}


	section.bloc /*c'est la partie des posts*/
	{
		width: 100%;
		/*min-width: 400px;*//*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		/*min-height: 150px;*/ 	
		/*font-family: gentium, serif;*//*trebuchet MS ;*/
		/*border: none;*/

		border: none;

		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		/*overflow: auto;*/ /*si le texte dépasse du bloc, un curseur apparaît.*/
	    /*padding: 20px;*/ /* Marge intérieure de 20px */
	    /*margin: 50px; /* Marge extérieure de 50px */
	    /*margin-bottom: 20px;*/
	    /*margin-top: 20px;*/
	    /*margin: -20px; */ /*auto; /*bloc centré*/
	  	/*margin-right: 20;*/
	  	border: 3px;
	  	
	}

	section
	{
		width: 80%;
		min-width: 400px;/*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		max-width: 1000px;
		min-height: 150px; 	
		background-color: #12131d;
		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		overflow: auto;/*si le texte dépasse du bloc, un curseur apparaît.*/
	    padding: 30px; /* Marge intérieure de x px */
	    /*margin: 50px; /* Marge extérieure de 50px */
	    margin-bottom: 20px;
	    margin-top: 20px;
	    margin-left: auto;
	  	margin-right: auto;
	}

	h2
	{
		border: 3px;
		border-color: #000103;
		border-radius: 10px; /*angle arrondi*/

	}

	h1
	{
		border: 3px;
		border-color: #000180;
		border-radius: 10px; /*angle arrondi*/

	}



	footer
	{
		margin-top: 30px;
		height: 40px;
		width: 100%;
		background-color: #12131d;
		padding-top: 5px; 
		padding-bottom: 5px;
		text-align: center;
	}

